@{
    ViewBag.Title = "메인롤링 리스트";
}
<!DOCTYPE html>

<div id="content" class="rolling list">
    <div class="cont_top">
        <h3>웹 메인롤링</h3>
    </div>
    <form>
        <div class="cont_bottom">
            <p>※ 좌측 이미지부터 순서대로 롤링됩니다.</p>
            <ul class="rolling_list on">
            @for (var i = 0; i < ViewBag.list.Count; i++)
            {
                if(i==3)
                { 
                <li class="rolling_list4">
                    <a href="view?idx=@ViewBag.list[i].idx">
                        <span class="img_area"><img src="/Files/imageView?fileIdx=@ViewBag.list[i].fileIdx" alt=""></span>
                        <span class="tit_area">@ViewBag.list[i].title</span>
                        <span class="date_area">@ViewBag.list[i].startDate ~ @ViewBag.list[i].endDate</span>
                        <div class="country_area">
                            <span class="kor">KOR</span>
                            @if ("Y".Equals(ViewBag.list[i].engYn))
                            {
                                <span class="eng">ENG</span>
                            }
                        </div>
                    </a>
                </li>
                }
                else
                {
                <li>
                    <a href="view?idx=@ViewBag.list[i].idx">
                        <span class="img_area"><img src="/Files/imageView?fileIdx=@ViewBag.list[i].fileIdx" alt=""></span>
                        <span class="tit_area">@ViewBag.list[i].title</span>
                        <span class="date_area">@ViewBag.list[i].startDate ~ @ViewBag.list[i].endDate</span>
                        <div class="country_area">
                            <span class="kor">KOR</span>
                            @if ("Y".Equals(ViewBag.list[i].engYn))
                            {
                                <span class="eng">ENG</span>
                            }
                        </div>
                    </a>
                </li>
                }
            }
            @if (ViewBag.list.Count == 0)
            {
                <li>
                    <span>>게시글이 없습니다.</span>
                </li>
            }
                @*<li>
                    <a href="view.html">
                        <span class="img_area"><img src="/resources/dummy/test_img2.jpg" alt=""></span>
                        <span class="tit_area">2___2017 서울 모터쇼 티켓 이벤트</span>
                        <span class="date_area">2017-03-20 ~ 2017-04-03</span>
                        <div class="country_area"><span class="kor">KOR</span> <span class="eng">ENG</span></div>
                    </a>
                </li>
                <li>
                    <a href="view.html">
                        <span class="img_area"><img src="/resources/dummy/test_img2.jpg" alt=""></span>
                        <span class="tit_area">2___2017 서울 모터쇼 티켓 이벤트</span>
                        <span class="date_area">2017-03-20 ~ 2017-04-03</span>
                        <div class="country_area"><span class="kor">KOR</span> <span class="eng">ENG</span></div>
                    </a>
                </li>
                <li class="rolling_list4">
                    <a href="view.html">
                        <span class="img_area"><img src="/resources/dummy/test_img2.jpg" alt=""></span>
                        <span class="tit_area">2___2017 서울 모터쇼 티켓 이벤트</span>
                        <span class="date_area">2017-03-20 ~ 2017-04-03</span>
                        <div class="country_area"><span class="kor">KOR</span> <span class="eng">ENG</span></div>
                    </a>
                </li>
                <li>
                    <a href="view.html">
                        <span class="img_area"><img src="/resources/dummy/test_img2.jpg" alt=""></span>
                        <span class="tit_area">2___2017 서울 모터쇼 티켓 이벤트</span>
                        <span class="date_area">2017-03-20 ~ 2017-04-03</span>
                        <div class="country_area"><span class="kor">KOR</span> <span class="eng">ENG</span></div>
                    </a>
                </li>
                <li>
                    <a href="view.html">
                        <span class="img_area"><img src="/resources/dummy/test_img2.jpg" alt=""></span>
                        <span class="tit_area">2___2017 서울 모터쇼 티켓 이벤트</span>
                        <span class="date_area">2017-03-20 ~ 2017-04-03</span>
                        <div class="country_area"><span class="kor">KOR</span> <span class="eng">ENG</span></div>
                    </a>
                </li>*@
            </ul>
            @RenderPage("~/Views/Common/Pagination.cshtml")
            <a href="register" class="btn_defualt btn_reg">등록</a>
        </div>
    </form>
</div>
<script>
    lnbSet(1, 1);
</script>