@{
    ViewBag.Title = "전시장 관리";
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5k8bV2daehbsFSA-GKsmbAEeluU15Q_I"></script>
<div id="content" class="reg">
    <div class="cont_top">
        <h3>전시장 관리</h3>
    </div>
    <div class="cont_bottom">
        <form method="post">
            <input type="hidden" name="idx" value="@ViewBag.item.idx" />
            <table class="reg_table">
                <caption>전시장 관리 수정 테이블</caption>
                <colgroup>
                    <col width="130px">
                    <col width="870px">
                </colgroup>
                <tr>
                    <th scope="row"><label for="brand">브랜드 *</label></th>
                    <td>
                        <select name="brand" id="brand" itemprop="">
                            <option value="BMW">BMW</option>
                            <option value="MINI">MINI</option>
                            <option value="MOTORRAD">Motorrad</option>
                            <option value="BPS">BPS</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="showroomName">전시장명 *</label></th>
                    <td><input type="text" name="showroomName" id="showroomName" maxlength="30" value="@ViewBag.item.showroomName" title="전시장명" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="dealerName">딜러명 *</label></th>
                    <td><input type="text" name="dealerName" id="dealerName" maxlength="10" value="@ViewBag.item.dealerName" title="딜러명" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="location">지역 *</label></th>
                    <td>
                        <select name="location" id="location" title="지역">
                            <option value="서울">서울</option>
                            <option value="부산">부산</option>
                            <option value="대구">대구</option>
                            <option value="인천">인천</option>
                            <option value="광주">광주</option>
                            <option value="대전">대전</option>
                            <option value="울산">울산</option>
                            <option value="세종">세종</option>
                            <option value="경기">경기</option>
                            <option value="강원">강원</option>
                            <option value="충북">충북</option>
                            <option value="충남">충남</option>
                            <option value="전북">전북</option>
                            <option value="전남">전남</option>
                            <option value="경북">경북</option>
                            <option value="경남">경남</option>
                            <option value="제주">제주</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="address">주소 *</label></th>
                    <td><input type="text" name="address" id="address" class="input_long_type" maxlength="110" value="@ViewBag.item.address" title="주소" placeholder="서울특별시 강남구 도산대로 301 (신사동 630-7)" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="">위치 좌표 *</label></th>
                    <td>
                        <input type="text" name="lat" id="lat" maxlength="50" value="@ViewBag.item.lat" placeholder="위도" title="위도" />
                        /
                        <input type="text" name="lng" id="lng" maxlength="50" value="@ViewBag.item.lng" placeholder="경로" title="경도" />
                        <a href="javascript:void(0);" class="btn_small" onclick="javascript:showGoogleMap();">지도보기</a> * 구글맵에서 나타나는 위도, 경도 값을 입력해주세요.
                    </td>
                </tr>
                <tr>
                    <td id="map" colspan="2" style="height:300px;"></td>
                </tr>
                <tr>
                    <th scope="row"><label for="tel1">전화번호 *</label></th>
                    <td>
                        <select name="tel1" id="tel1" title="지역번호">
                            <option value="02">02</option>
                            <option value="051">051</option>
                            <option value="053">053</option>
                            <option value="032">032</option>
                            <option value="062">062</option>
                            <option value="042">042</option>
                            <option value="052">052</option>
                            <option value="044">044</option>
                            <option value="031">031</option>
                            <option value="033">033</option>
                            <option value="043">043</option>
                            <option value="041">041</option>
                            <option value="063">063</option>
                            <option value="061">061</option>
                            <option value="054">054</option>
                            <option value="055">055</option>
                            <option value="064">064</option>
                            <option value="-">없음</option>
                        </select>
                        -
                        <input type="text" name="tel2" id="tel2" class="telNum" maxlength="4" value="@ViewBag.item.tel2" title="전화번호 중간" />
                        -
                        <input type="text" name="tel3" id="tel3" class="telNum" maxlength="4" value="@ViewBag.item.tel3" title="전화번호 뒷자리" />
                    </td>
                </tr>
                <tr>
                    <th><label for="businessTime">영업시간 *</label></th>
                    <td><textarea style="width:300px;height:150px;" name="businessTime" id="businessTime" title="영업시간" placeholder="[평일] 9:00 ~ 18:00&#10;[토요일] 9:00 ~ 18:00&#10;[일요일] 9:00 ~ 18:00&#10;[공휴일] 9:00 ~ 18:00">@ViewBag.item.businessTime</textarea></td>
                </tr>
                <tr>
                    <th><label for="">배포 *</label></th>
                    <td class="radio_area">
                        <label for="active"><input type="radio" name="deployYn" id="active" value="Y" title="배포 여부"> 배포</label>
                        <label for="inactivity"><input type="radio" name="deployYn" id="inactivity" value="N" title="배포 여부"> 미배포</label>
                    </td>
                </tr>
            </table>
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="modForm();">수정</a>
        </div>
    </div>
</div>
<script>
    lnbSet(".showroom_mgmt");

    $(document).ready(function () {

        $("#map").hide();

        $(".telNum").keyup(function () { $(this).val($(this).val().replace(/[^0-9]/g, "")); }); //숫자만 입력가능

        $('input[name="deployYn"][value="@ViewBag.item.deployYn"]').prop('checked', true);
        $('#brand').val('@ViewBag.item.brand');
        $('#location').val('@ViewBag.item.location');
        $('#tel1').val('@ViewBag.item.tel1');

        if ($('#tel1').val() == '-') {
            $('#tel2').attr('disabled', true);
            $('#tel2').val('');
            $('#tel3').attr('disabled', true);
            $('#tel3').val('');
        }


        $('#tel1').change(function () {
            if ($(this).val() == '-') {
                $('#tel2').attr('disabled', true);
                $('#tel2').val('');
                $('#tel3').attr('disabled', true);
                $('#tel3').val('');
            }
            else {
                $('#tel2').attr('disabled', false);
                $('#tel2').val('');
                $('#tel3').attr('disabled', false);
                $('#tel3').val('');
            }
        });

    });

    function modForm() {
        if (!$('#brand').required()) return;
        if (!$('#showroomName').required()) return;
        if (!$('#dealerName').required()) return;
        if (!$('#location').required()) return;
        if (!$('#address').required()) return;
        if (!$('#lat').required()) return;
        if (!$('#lng').required()) return;
        if ($('#tel1').val() != '-') {
            if (!$('#tel1').required()) return;
            if (!$('#tel2').required()) return;
            if (!$('#tel3').required()) return;
        }
        if (!$('#businessTime').required()) return;

        if (!confirm('수정하시겠습니까')) return;
        $('#content form').attr('action', 'modifyProc').submit();
    };

    function showGoogleMap() {
        if (!$('#lat').required()) return;
        if (!$('#lng').required()) return;

        $("#map").show();

        var Y_point = $('#lat').val();
        var X_point = $('#lng').val(); // X 좌표
        var zoomLevel = 16; // 지도의 확대 레벨 : 숫자가 클수록 확대정도가 큼
        var markerTitle = ""; // 현재 위치 마커에 마우스를 오버을때 나타나는 정보
        var myLatlng = new google.maps.LatLng(Y_point, X_point);
        var mapOptions = {
            zoom: zoomLevel,
            center: myLatlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            labelContent: "",
            title: markerTitle
        });

        //window.open('https://www.google.co.kr/maps/place/@@' + $('#lat').val() + ',' + $('#lng').val() + ',17z', '_blank');
    }

</script>