<style>

</style>

<div id="content" class="list">
    <form method="get">
            <div class="cont_top">
                <h3>FAQ 관리</h3>
                <div class="search_box">
                    <select name="searchOption" id="searchOption" class="search_select">
                        <option value="">구분</option>
                        <option value="question">항목</option>
                        <option value="answer">답변</option>
                    </select>
                    <input type="text" name="searchInput" class="search_text" value="@ViewBag.pagination.searchInput" /><input type="text" style="display: none;" />
                    <button type="button" onclick="searchList();"></button>
                </div>
            </div>
            <div class="list_area">
                <ul>
                    <li class="all"><a href="list">전체</a></li>
                    <li class="faq_leaseIntro"><a href="list?category=leaseIntro">리스 소개</a></li>
                    <li class="faq_contract"><a href="list?category=contract">계약/등록</a></li>
                    <li class="faq_finance"><a href="list?category=finance">금융조건의 변경</a></li>
                    <li class="faq_cost"><a href="list?category=cost">비용/서류</a></li>
                    <li class="faq_lease"><a href="list?category=lease">리스 승계</a></li>
                    <li class="faq_process"><a href="list?category=process">만기 시 처리</a></li>
                    <li class="faq_insurance"><a href="list?category=insurance">보험</a></li>
                    <li class="faq_overdue"><a href="list?category=overdue">연체</a></li>
                    <li class="faq_accounting"><a href="list?category=accounting">회계처리</a></li>
                    <li class="faq_homepage"><a href="list?category=homepage">홈페이지 이용 관련</a></li>
                </ul>
            </div>
            <div class="cont_bottom">
                <table class="list_table">
                    <colgroup>
                        <col style="width:60px" />
                        <col style="width:200px" />
                        <col />
                        <col style="width:120px" />
                        <col style="width:100px"  />
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">카테고리</th>
                            <th scope="col">항목</th>
                            <th scope="col">등록일</th>
                            <th scope="col">배포</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < ViewBag.list.Count; i++)
                        {
                            <tr>
                                <td class="co1">@(ViewBag.pagination.totalItemCount - (ViewBag.pagination.currentPage - 1) * ViewBag.pagination.itemPerPage - i)</td>
                                <td class="co3">@ViewBag.list[i].categoryName</td>
                                <td class="co2 tit_area"><a href="view?idx=@ViewBag.list[i].idx">@ViewBag.list[i].question</a></td>
                                <td class="co3">@ViewBag.list[i].regDate.ToString("yyyy-MM-dd")</td>
                                <td class="co4">@ViewBag.list[i].deployYn</td>
                            </tr>
                        }
                        @if (ViewBag.list.Count == 0)
                        {
                            <tr>
                                <td colspan="5">게시글이 없습니다.</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- pagination -->
                @RenderPage("~/Views/Common/Pagination.cshtml")
                <a href="register" class="btn_defualt btn_reg">등록</a>
            </div>
        </form>
</div>
<script>
    lnbSet(".faq_mgmt");
    $('#searchOption').val('@ViewBag.pagination.searchOption');
    if ('@ViewBag.pagination.category' != '') {        
        $('.list_area ul li').removeClass('on');
        $('.faq_' + '@ViewBag.pagination.category').addClass('on');
    } else {
        $('.all').addClass('on');
    }
</script>