@{
    ViewBag.Title = "신용정보활동체계 상세보기";
}

<head>
    <script src="/resources/js/jquery-1.12.4.min.js"></script>
    <script src="/resources/js/jquery-ui.min.js"></script>
    <script src="/resources/js/jquery.cust.js"></script>
    <script src="/resources/js/common.js"></script>
</head>
<div id="content" class="reg">
    <div class="cont_top">
        <h3>신용정보활동체계</h3>
    </div>
    <div class="cont_bottom">
        <form method="post">
            <table class="reg_table">
                <caption>신용정보활동체계 뷰 테이블</caption>
                <colgroup>
                    <col width="130px">
                    <col width="870px">
                </colgroup>
                <tr>
                    <th>작성자 </th>
                    <td>@ViewBag.item.regId</td>
                </tr>
                <tr>
                    <th scope="row"><label for="title">* 제목</label></th>
                    <td>@ViewBag.item.title</td>
                </tr>
                <tr>
                    <th scope="row"><label for="contents">* 내용</label></th>
                    <td>@Html.Raw(@ViewBag.item.contents)</td>
                </tr>
            </table>
            <input type="hidden" name="idx" value="@ViewBag.item.idx" />
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <div class="view_btn_area">
                <a href="javascript:void(0);" class="btn_defualt btn_modify" onclick="modForm();">수정</a>
                <a href="javascript:void(0);" class="btn_defualt btn_delete" onclick="delForm();">삭제</a>
            </div>
        </div>
    </div>
</div>
<script>
    lnbSet(6, 2);
    function modForm() {
        $('form').attr('action', 'modify').submit();
    }

    function delForm() {
        if (!confirm('삭제하시겠습니까?')) return;
        $('form').attr('action', 'delete').submit();
    }
</script>