<div id="content" class="reg">
    <div class="cont_top">
        <h3>채용 공고</h3>
    </div>
    <div class="cont_bottom">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="idx" value="@ViewBag.item.idx" />
            <table class="reg_table">
                <colgroup>
                    <col width="130px" />
                    <col width="870px" />
                </colgroup>
                <tr>
                    <th>작성자 </th>
                    <td>@ViewBag.item.regId</td>
                </tr>
                <tr>
                    <th><label for="title">제목 *</label></th>
                    <td><input type="text" name="title" id="title" class="input_long_type" title="제목" maxlength="100" value="@ViewBag.item.title" /></td>
                </tr>
                <tr>
                    <th><label for="sdate">접수 기간 *</label></th>
                    <td><input type="date" id="sdate" name="startDate" value="@ViewBag.item.startDate.ToString("yyyy-MM-dd")" title="접수기간 시작일"> ~ <input type="date" id="edate" name="endDate" value="@ViewBag.item.endDate.ToString("yyyy-MM-dd")" title="접수기간 종료일"></td>
                </tr>
                <tr>
                    <th><label for="">내용</label></th>
                    <td><textarea name="contents" id="contents" title="내용">@ViewBag.item.contents</textarea></td>
                </tr>
                <tr class="add_img_area">
                    <th>첨부파일</th>
                    <td class="file_area">
                        @for (int i = 0, size = ViewBag.filesList1.Count; i < size; i++)
                        {
                            <div class="attach_file">
                                <span class="file_src">@ViewBag.filesList1[i].originalFilename</span>
                                <input type="file" class="input_file" name="files" id="attachFile">
                                @if (@ViewBag.filesList1[i].originalFilename != null)
                                {
                                    <label for="attachFile" style="display:none;" class="btn_file btn_file_txt">파일찾기</label>
                                    <label for="" class="btn_file del_file_txt">삭제</label>
                                }
                                else
                                {
                                    <label for="attachFile" class="btn_file btn_file_txt">파일찾기</label>
                                    <label for="" style="display:none;" class="btn_file del_file_txt">삭제</label>
                                }
                                <input type="hidden" name="fileIdxs" value="@ViewBag.filesList1[i].fileIdx" />
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <th><label for="">배포</label></th>
                    <td class="radio_area">                         
                        <label for="active"><input type="radio" name="deployYn" id="active" value="Y" title="배포 여부"> 배포</label>
                        <label for="inactivity"><input type="radio" name="deployYn" id="inactivity" value="N" title="배포 여부"> 미배포</label>
                    </td>
                </tr>
            </table>
        </form>
        <div class="btn_area">
            <a href="list" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="modForm();">수정</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/resources/se/js/HuskyEZCreator.js"></script>
<script type="text/javascript" src="/resources/js/smarteditor.js"></script>
<script>
    lnbSet(".recruit_notice_mgmt");
    $('input[name="deployYn"][value="@ViewBag.item.deployYn"]').prop('checked', true);
    function modForm() {
        if (!$('#title').required()) return;
        if (!$('#sdate').required()) return;
        if (!$('#edate').required()) return;
        editor_object.getById["contents"].exec("UPDATE_CONTENTS_FIELD", []);
        if ($('#contents').val().trim().replace(/<p>/gi, '').replace(/<\/p>/gi, '').replace(/<br>/gi, '').replace(/&nbsp;/gi, '').replace(/ /gi, '') == '') {
            alert('내용을 입력하세요.');
            return;
        }
        if (!confirm('수정하시겠습니까')) return;
        $('#content form').attr('action', 'modifyProc').submit();
    };
</script>
