<div id="content" class="reg">
    <div class="cont_top">
        <h3>채용 공고</h3>
    </div>
    <div class="cont_bottom">
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="idx" value="@ViewBag.item.idx" />
            <table class="reg_table">
                <colgroup>
                    <col width="130px" />
                    <col width="870px" />
                </colgroup>
                <tr>
                    <th>작성자 </th>
                    <td>@ViewBag.item.regId</td>
                </tr>
                <tr>
                    <th><label for="title">제목 *</label></th>
                    <td>@ViewBag.item.title</td>
                </tr>
                <tr>
                    <th><label for="sdate">접수 기간 *</label></th>
                    <td>@ViewBag.item.startDate.ToString("yyyy-MM-dd") ~ @ViewBag.item.endDate.ToString("yyyy-MM-dd")</td>
                </tr>
                <tr>
                    <th><label for="">내용</label></th>
                    <td>@Html.Raw(@ViewBag.item.contents)</td>
                </tr>
                <tr class="add_img_area">
                    <th>첨부파일</th>
                    <td class="file_area">
                        @for (int i = 0, size = ViewBag.filesList1.Count; i < size; i++)
                        {
                                <span><a href="/Files/fileDownload?fileIdx=@ViewBag.filesList1[i].fileIdx">@ViewBag.filesList1[i].originalFilename</a></span>  
                        }
                    </td>
                </tr>
                <tr>
                    <th><label for="">배포</label></th>
                    <td class="radio_area">
                        @if ("Y".Equals(@ViewBag.item.deployYn))
                        {
                            @:배포
                        }
                        else
                        {
                           @:미배포
                        }
                    </td>
                </tr>
            </table>
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <div class="view_btn_area">
                <a href="modify?idx=@ViewBag.item.idx" class="btn_defualt btn_modifyt">수정</a>
                <a href="javascript:void(0);" class="btn_defualt btn_delete" onclick="delForm();">삭제</a>
            </div>
        </div>
    </div>
</div>
<script>
    lnbSet(".recruit_notice_mgmt");
    function delForm() {
        if (!confirm('삭제하시겠습니까?')) return;
        $('#content form').attr('action', 'delete').submit();
    };
</script>
