
<head>
<style>
.reg .cont_bottom .reg_table td.file_area p{float:none; clear:both; padding-top:10px}
.reg .cont_bottom .reg_table td.file_area p input[type="text"]{width:539px;}
.reg h4{margin-bottom:10px}

.file_area{counter-reset:cnt1; }
.file_area:after{content:"* .jpg, .png 파일만 업로드 가능";}
.file_area.thumb:after{content:"* .jpg, .png 파일만 업로드 가능  * 사이즈:351*264";}
.file_src.on:after{content:""; color:#666;}
.thum_nail{overflow:hidden;}
/*.thum_nail:after{content:"사이즈 351 * 264"; display:inline-block; padding: 14px 0 0 5px}*/
.reg .cont_bottom .reg_table .event_btn_area input[type="text"]{margin-bottom: 10px; width: 467px;}
.evt_btn_button{display: inline-block; width: 35px; height: 36.5px; line-height: 35px; border: 1px solid #c8c8c8; text-align: center; cursor: pointer; margin-left: 7px; background-color: #bbbbbb; color: #282828; font-size: 25px;}
</style>
</head>
		<div id="content" class="reg">
			<div class="cont_top">
				<h3>웹 프로모션</h3>
			</div>
			<div class="cont_bottom">
                <form method="post" enctype="multipart/form-data">
                    <table class="reg_table">
                        <colgroup>
                            <col width="130px" />
                            <col width="*" />
                        </colgroup>
                        <tr>
                            <th>작성자</th>
                            <td>@ViewBag.item.regId</td>
                        </tr>
                        <tr>
                            <th>카테고리</th>
                            <td class="radio_area">
                                <label for="categoryP"><input type="radio" name="category" id="categoryP" value="P"> 프로모션</label>
                                <label for="categoryE"><input type="radio" name="category" id="categoryE" value="E"> 이벤트</label>
                            </td>
                        </tr>
                        <tr>
                            <th>브랜드 *</th>
                            <td class="radio_area">
                                <label for="BRAND_B"><input type="radio" name="brand" id="brandB" value="B" checked> BMW</label>
                                <label for="BRAND_M"><input type="radio" name="brand" id="brandM" value="M"> MINI</label>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="startDate">게시 기간</label></th>
                            <td><input type="text" name="startDate" id="startDate" readonly="readonly" value="@ViewBag.item.startDate" title="게시 시작일" /> ~ <input type="text" name="endDate" id="endDate" readonly="readonly" value="@ViewBag.item.endDate" title="게시 종료일" /></td>
                        </tr>
                        <tr>
                            <th>영문 사이트</th>
                            <td class="radio_area">
                                <label for="engY"><input type="radio" name="engYn" id="engY" value="Y"> 있음</label>
                                <label for="engN"><input type="radio" name="engYn" id="engN" value="N" checked> 없음</label>
                            </td>
                        </tr>
                        <tr>
                            <th><label for="">배포</label></th>
                            <td class="radio_area">
                                <label for="deployY"><input type="radio" name="deployYn" id="deployY" value="Y"> 배포</label>
                                <label for="deployN"><input type="radio" name="deployYn" id="deployN" value="N"> 미배포</label>
                            </td>
                        </tr>
                    </table>
                    <h4>국문사이트</h4>
                    <table class="reg_table">
                        <colgroup>
                            <col width="130px" />
                            <col width="*" />
                        </colgroup>
                        <tr>
                            <th><label for="tit">제목</label></th>
                            <td><input type="text" class="tit" name="title" id="tit" value="@ViewBag.item.title" title="국문 제목"></td>
                        </tr>
                        <tr class="add_img_area">
                            <th>썸네일 이미지</th>
                            <td class="file_area thumb">
                                 @if (ViewBag.thumbList.Count != 0)
                                 {
                                     for (int i = 0, size = ViewBag.thumbList.Count; i < size; i++)
                                     {
                                        <div class="thum_nail">
                                            <span class="file_src">@ViewBag.thumbList[i].originalFilename</span>
                                            <input type="file" class="input_file" name="thumbNail" id="thumbNail">
                                            <label for="thumbNail" class="btn_file">파일찾기</label>
                                            <input type="hidden" name="thumbIdxs" value="@ViewBag.thumbList[i].fileIdx" />
                                        </div>
                                     }
                                 }
                                 else
                                 {
                                    <div class="thum_nail">
                                        <span class="file_src"></span>
                                        <input type="file" class="input_file" name="thumbNail" id="thumbNail">
                                        <label for="thumbNail" class="btn_file">파일찾기</label>
                                    </div>
                                 }
                            </td>
                        </tr>
                        <tr class="add_img_area kor">
                            <th>본문 이미지</th>
                            <td class="file_area">
                                 @if (ViewBag.mainImgList.Count != 0)
                                 {
                                     for (int i = 0, size = ViewBag.mainImgList.Count; i < size; i++)
                                     {
                                        <div class="file_item">
                                            <span class="file_src">@ViewBag.mainImgList[i].originalFilename</span>
                                            <input type="file" class="input_file" name="mainImg" id="file@(i)">
                                            <label for="file@(i)" class="btn_file">파일찾기</label>
                                            @if(i == 0){
                                                <button type="button" class="btn_add_file" id="btnAddFile">+</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btnDelete" data-name="mainIdxs" data-key="@ViewBag.mainImgList[i].fileIdx" onclick="deleteFile(this, 'N');">-</button>
                                            }
                                            <p><label for="url@(i)"><input type="text" name="mainImgLinks" id="url@(i)" placeholder="이미지에 대한 링크 URL (선택사항)" value="@ViewBag.imgUrlList[i]"></label></p>
                                            <input type="hidden" name="mainIdxs" value="@ViewBag.mainImgList[i].fileIdx" />
                                        </div>
                                     }
                                 }
                                 else
                                 {
                                    <div>
                                        <span class="file_src"></span>
                                        <input type="file" class="input_file" name="mainImg" id="file0">
                                        <label for="file0" class="btn_file">파일찾기</label>
                                        <button type="button" class="btn_add_file" id="btnAddFile">+</button>
                                        <p><label for="url0"><input type="text" name="mainImgLinks" id="url0" placeholder="이미지에 대한 링크 URL (선택사항)"></label></p>
                                    </div>
                                 }
                            </td>
                        </tr>
                        @if ("E".Equals(ViewBag.item.category))
                        {
                            <tr class="event_y">
                                <th><label for="">버튼 *</label></th>
                                <td class="event_btn_area">
                                    <div class="evt_btn1">
                                        <input type="text" class="evt_btn_input" name="btn1Name" id="btn1Name" title="버튼명" placeholder="버튼명" value="@ViewBag.item.btn1Name"><button type="button" class="evt_btn_button" id="evtBtnAdd"> + </button>
                                        <p><input type="text" class="evt_btn_input" name="btn1Link" id="btn1Link" title="버튼에 대한 링크 URL" placeholder="버튼에 대한 링크 URL" value="@ViewBag.item.btn1Link"></p>
                                    </div>
                                    @if (ViewBag.item.btn2Name != null) {
                                        <div class="evt_btn2" data-flag="true">
                                            <input type="text" class="evt_btn_input" name="btn2Name" id="btn2Name" title="버튼명" placeholder="버튼명" value="@ViewBag.item.btn2Name"><button type="button" class="evt_btn_button" id="evtBtnDel"> - </button>
                                            <p><input type="text" class="evt_btn_input" name="btn2Link" id="btn2Link" title="버튼에 대한 링크 URL" placeholder="버튼에 대한 링크 URL" value="@ViewBag.item.btn2Link"></p>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="evt_btn2" data-flag="false" style="display:none;">
                                            <input type="text" class="evt_btn_input" name="btn2Name" id="btn2Name" title="버튼명" placeholder="버튼명"><button type="button" class="evt_btn_button" id="evtBtnDel"> - </button>
                                            <p><input type="text" class="evt_btn_input" name="btn2Link" id="btn2Link" title="버튼에 대한 링크 URL" placeholder="버튼에 대한 링크 URL"></p>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="event_y" style="display:none;">
                                <th><label for="">버튼 *</label></th>
                                <td class="event_btn_area">
                                    <div class="evt_btn1">
                                        <input type="text" class="evt_btn_input" name="btn1Name" id="btn1Name" title="버튼명" placeholder="버튼명"><button type="button" class="evt_btn_button" id="evtBtnAdd"> + </button>
                                        <p><input type="text" class="evt_btn_input" name="btn1Link" id="btn1Link" title="버튼에 대한 링크 URL" placeholder="버튼에 대한 링크 URL"></p>
                                    </div>
                                    <div class="evt_btn2" data-flag="false" style="display:none;">
                                        <input type="text" class="evt_btn_input" name="btn2Name" id="btn2Name" title="버튼명" placeholder="버튼명"><button type="button" class="evt_btn_button" id="evtBtnDel"> - </button>
                                        <p><input type="text" class="evt_btn_input" name="btn2Link" id="btn2Link" title="버튼에 대한 링크 URL" placeholder="버튼에 대한 링크 URL"></p>
                                    </div>
                                </td>
                            </tr>
                        }
                        <tr>
                            <th rowspan="2"><label for="">상품 페이지 배너</label></th>
                            <td class="radio_area">
                                <label for="productBannerY"><input type="radio" name="productBannerYn" id="productBannerY" value="Y"> 배포</label>
                                <label for="productBannerN"><input type="radio" name="productBannerYn" id="productBannerN" value="N"> 미배포</label>
                            </td>
                        </tr>
                    </table>
                    <h4 class="eng_site" style="display:none;">영문사이트</h4>
                    <table class="reg_table eng_site" style="display:none;">
                        <colgroup>
                            <col width="130px" />
                            <col width="*" />
                        </colgroup>
                        <tr>
                            <th><label for="tit">제목</label></th>
                            <td><input type="text" class="tit" id="titEng" name="titleEng" value="@ViewBag.item.titleEng" title="영문 제목"></td>
                        </tr>
                        <tr class="add_img_area">
                            <th>썸네일 이미지</th>
                            <td class="file_area">
                            @if (ViewBag.thumbEngList.Count != 0)
                            {
                                for (int i = 0, size = ViewBag.thumbEngList.Count; i < size; i++)
                                {
                                    <div class="thum_nail">
                                        <span class="file_src">@ViewBag.thumbEngList[i].originalFilename</span>
                                        <input type="file" class="input_file" name="engThumbNail" id="engThumbNail">
                                        <label for="engThumbNail" class="btn_file">파일찾기</label>
                                        <input type="hidden" name="engThumbIdxs" value="@ViewBag.thumbEngList[i].fileIdx" />
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="thum_nail">
                                    <span class="file_src"></span>
                                    <input type="file" class="input_file" name="engThumbNail" id="engThumbNail">
                                    <label for="engThumbNail" class="btn_file">파일찾기</label>
                                </div>
                            }
                            </td>
                        </tr>
                        <tr class="add_img_area eng">
                            <th>본문 이미지</th>
                            <td class="file_area">
                                 @if (ViewBag.mainImgEngList.Count != 0)
                                 {
                                     for (int i = 0, size = ViewBag.mainImgEngList.Count; i < size; i++)
                                     {
                                        <div class="file_item">
                                            <span class="file_src"> @ViewBag.mainImgEngList[i].originalFilename</span>
                                            <input type="file" class="input_file" name="engMainImg" id="engfile@(i)">
                                            <label for="engfile@(i)" class="btn_file">파일찾기</label>
                                            @if(i == 0){
                                                <button type="button" class="btn_add_file" id="btnAddFileEng">+</button>
                                            }
                                            else
                                            {
                                                <button type="button" class="btnDelete" data-name="engMainIdxs" data-key="@ViewBag.mainImgEngList[i].fileIdx" onclick="deleteFile(this, 'N');">-</button>
                                            }
                                            <p><label for="engurl@(i)"><input type="text" name="mainImgEngLinks" id="engurl@(i)" placeholder="이미지에 대한 링크 URL (선택사항)" value="@ViewBag.imgUrlEngList[i]"></label></p>
                                            <input type="hidden" name="engMainIdxs" value="@ViewBag.mainImgEngList[i].fileIdx" />
                                        </div>
                                     }
                                 }
                                 else
                                 {
                                    <div>
                                        <span class="file_src"></span>
                                        <input type="file" class="input_file" name="engMainImg" id="engfile0">
                                        <label for="engfile0" class="btn_file">파일찾기</label>
                                        <button type="button" class="btn_add_file" id="btnAddFile">+</button>
                                        <p><label for="engurl0"><input type="text" name="mainImgEngLinks" id="engurl0" placeholder="이미지에 대한 링크 URL (선택사항)"/></label></p>
                                    </div>
                                 }
                            </td>
                        </tr>
                        @if ("E".Equals(ViewBag.item.category))
                        {
                        <tr class="event_y">
                            <th><label for="">버튼 *</label></th>
                            <td class="event_btn_area">
                                <div class="evt_btn1_eng">
                                    <input type="text" class="evt_btn_input" name="btn1NameEng" id="btn1NameEng" title="버튼명" placeholder="버튼명" value="@ViewBag.item.btn1NameEng"><button type="button" class="evt_btn_button" id="evtBtnAddEng"> + </button>
                                    <p><input type="text" class="evt_btn_input" name="btn1LinkEng" id="btn1LinkEng" title="버튼에 대한 링크 URL" placeholder="버튼에 대한 링크 URL" value="@ViewBag.item.btn1LinkEng"></p>
                                </div>
                                @if (ViewBag.item.btn2NameEng != null)
                                {
                                    <div class="evt_btn2_eng" data-flag="true">
                                        <input type="text" class="evt_btn_input" name="btn2NameEng" id="btn2NameEng" title="버튼명" placeholder="버튼명" value="@ViewBag.item.btn2NameEng"><button type="button" class="evt_btn_button" id="evtBtnDelEng"> - </button>
                                        <p><input type="text" class="evt_btn_input" name="btn2LinkEng" id="btn2LinkEng" title="버튼에 대한 링크 URL" placeholder="버튼에 대한 링크 URL" value="@ViewBag.item.btn2LinkEng"></p>
                                    </div>
                                }
                                else
                                {
                                    <div class="evt_btn2_eng" data-flag="false" style="display:none;">
                                        <input type="text" class="evt_btn_input" name="btn2NameEng" id="btn2NameEng" title="버튼명" placeholder="버튼명"><button type="button" class="evt_btn_button" id="evtBtnDelEng"> - </button>
                                        <p><input type="text" class="evt_btn_input" name="btn2LinkEng" id="btn2LinkEng" title="버튼에 대한 링크 URL" placeholder="버튼에 대한 링크 URL"></p>
                                    </div>
                                }
                            </td>
                        </tr>
                        }
                        else
                        {
                            <tr class="event_y" style="display:none;">
                                <th><label for="">버튼 *</label></th>
                                <td class="event_btn_area">
                                    <div class="evt_btn1_eng">
                                        <input type="text" class="evt_btn_input" name="btn1NameEng" id="btn1NameEng" title="버튼명" placeholder="버튼명"><button type="button" class="evt_btn_button" id="evtBtnAddEng"> + </button>
                                        <p><input type="text" class="evt_btn_input" name="btn1LinkEng" id="btn1LinkEng" title="버튼에 대한 링크 URL" placeholder="버튼에 대한 링크 URL"></p>
                                    </div>
                                    <div class="evt_btn2_eng" data-flag="false" style="display:none;">
                                        <input type="text" class="evt_btn_input" name="btn2NameEng" id="btn2NameEng" title="버튼명" placeholder="버튼명"><button type="button" class="evt_btn_button" id="evtBtnDelEng"> - </button>
                                        <p><input type="text" class="evt_btn_input" name="btn2LinkEng" id="btn2LinkEng" title="버튼에 대한 링크 URL" placeholder="버튼에 대한 링크 URL"></p>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                    <input type="hidden" name="idx" value="@ViewBag.item.idx"/>
                    </form>
                    <div class="btn_area">
                        <a href="list" class="btn_defualt btn_list">목록</a>
                        <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="modForm();">수정</a>
                    </div>
</div>
		</div>
<script>
    lnbSet(".web_promotion_mgmt");

    $("#startDate").datepicker({
        dateFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true,
        yearRange: 'c-14:c+10',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        onClose: function (selectedDate) {
            $("#endDate").datepicker("option", "minDate", selectedDate);
        }
    });
    $("#endDate").datepicker({
        dateFormat: "yy-mm-dd",
        changeMonth: true,
        changeYear: true,
        yearRange: 'c-14:c+10',
        monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
        dayNames: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
        onClose: function (selectedDate) {
            $("#startDate").datepicker("option", "maxDate", selectedDate);
        }
    });
    //value setting (kor)
    if ('@ViewBag.item.category' === 'P') {
        $('#categoryP').prop('checked', true);
    } else if ('@ViewBag.item.category' === 'E') {
        $('#categoryE').prop('checked', true);
    }
     if ('@ViewBag.item.brand' === 'B') {
        $('#brandB').prop('checked', true);
    } else if ('@ViewBag.item.brand' === 'M') {
        $('#brandM').prop('checked', true);
    }

    if('@ViewBag.item.engYn' === 'Y'){
     $('#engY').prop('checked', true);
    }else{
     $('#engN').prop('checked', true);
    }
    if('@ViewBag.item.deployYn' === 'Y'){
        $('#deployY').prop('checked', true);
    }else{
        $('#deployN').prop('checked', true);
    }
   if('@ViewBag.item.productBannerYn' === 'Y'){
       $('#productBannerY').prop('checked', true);
    }else{
       $('#productBannerN').prop('checked', true);
    }
    //value setting (eng)
    if ('@ViewBag.item.engYn' === 'Y') {
        $('.eng_site').show();
    }

    function modForm() {
        if (!validation()) return;
        if (!confirm('수정하시겠습니까?')) return;
        $('#content form').attr('action', 'modifyProc').submit();
    };

    function validation() {
        var mainImgFlagKor = false;
        var mainImgFlagEng = false;

        if (!$('#startDate').required()) return;
        if (!$('#endDate').required()) return;
        if (!$('#tit').required()) return;
        if ($('#thumbNail').parent().find('.file_src').text() === '') {
            alert('국문 썸네일을 등록하세요.');
            return;
        }

        $('input[name=mainImg]').each(function () {
            if ($(this).parent().find('.file_src').text() === '') {
                mainImgFlagKor = true;
            }
        });
        if (mainImgFlagKor) {
            alert('국문 본문 이미지를 등록하세요.');
            return;
        }

        if ($('#categoryE').prop('checked')) {//이벤트 등록시 버튼 필수값 체크
            if (!$('#btn1Name').required()) return;
            if (!$('#btn1Link').required()) return;

            if ($('.evt_btn2').attr('data-flag') === 'true') {
                if (!$('#btn2Name').required()) return;
                if (!$('#btn2Link').required()) return;
            }
        }

        if ($('#engY').prop('checked')) {
            if (!$('#titEng').required()) return;
            if ($('#engThumbNail').parent().find('.file_src').text() === '') {
                alert('영문 썸네일을 등록하세요.');
                return;
            }
            $('input[name=engMainImg]').each(function () {
                if ($(this).parent().find('.file_src').text() === '') {
                    mainImgFlagEng = true;
                }
            });
            if (mainImgFlagEng) {
                alert('영문 본문 이미지를 등록하세요.');
                return;
            }
            if ($('#categoryE').prop('checked')) {//이벤트 등록시 버튼 필수값 체크
                if (!$('#btn1NameEng').required()) return;
                if (!$('#btn1LinkEng').required()) return;

                if ($('.evt_btn2_eng').attr('data-flag') === 'true') {
                    if (!$('#btn2NameEng').required()) return;
                    if (!$('#btn2LinkEng').required()) return;
                }
            }
        }
        if (!validationFileType('jpg, png')) return;

        return true;
    };

    function deleteFile(obj, autoYn) {
        if (autoYn == 'N') {
            if (!confirm('파일을 삭제하시겠습니까?')) return;
        }
        $obj = $(obj);
        $fileKey = $obj.attr('data-key');
        $obj.parent("div").remove();
        if ($fileKey != '') {
            var html = '<input type="hidden" name="' + $obj.attr("data-name") + '" value="' + ($fileKey * -1) + '">';
            if ($obj.attr("data-name") == 'mainIdxs') {
                html += '<input type="file" style="display:none;" class="input_file" name="mainImg" />';
            } else {
                html += '<input type="file" style="display:none;" class="input_file" name="engMainImg" />';
            }
            $('#content form').append(html);
        }
    };

(function($){
	var $fileArea = $(".add_img_area").find('.file_area');

	$(".add_img_area").find(".file_area").on("change",".input_file",function(e){
		var $parent = $(this).closest("div");
		var val = $(this).val();
		var valTit = val.split("\\");
		var valTittext = valTit[valTit.length -1]
		if(val != ""){
			$parent.find(".file_src").text(valTittext).addClass("on");
		};
	});

	$(".add_img_area").each(function(index, item){
		//var cnt = 0;
        var cnt = $(item).find(".file_item").length;
        $(item).find(".btn_add_file").on("click", function () {
			if($(item).find( "input[type='file']" ).length < 10){
				cnt++;
				if($(item).is(".kor")){
                    var html = '<div><span class="file_src"></span><input type="file" class="input_file" id="file' + cnt + '" name="mainImg" /><label for="file' + cnt + '" class="btn_file">파일찾기</label><button type="button" class="btnDelete" data-key="" onclick="deleteFile(this, \'N\');">-</button><p><label for="url' + cnt + '"><input type="text" name="mainImgLinks" id="url' + cnt +'"placeholder="이미지에 대한 링크 URL (선택사항)"></label></p></div>';
				}
				if($(item).is(".eng")){
                    var html = '<div><span class="file_src"></span><input type="file" class="input_file" id="engfile' + cnt + '" name="engMainImg" /><label for="engfile' + cnt + '" class="btn_file">파일찾기</label><button type="button" class="btnDelete" data-key="" onclick="deleteFile(this, \'N\');">-</button><p><label for="engurl' + cnt + '"><input type="text" name="mainImgEngLinks" id="url' + cnt +'"placeholder="이미지에 대한 링크 URL (선택사항)"></label></p></div>';
				}
				$(item).find(".file_area").append(html);
			};
		});
		//$fileArea.on("click" , ".btnDelete" ,deleteFile);
    });

    $('input[name=engYn]').change(function () {//영문 사이트 여부
        if ($('#engY').prop('checked')) {
            $('.eng_site').show();
        } else if ($('#engN').prop('checked')) {
            $('.eng_site').hide();
        }
    });

    $('input[name=category]').change(function () {//카테고리 변경시
        if ($('#categoryE').prop('checked')) {
            $('.event_y').show();//버튼명 show
        } else {
            $('.event_y').find('input').val('');
            $('.evt_btn2').attr('data-flag', 'false');
            $('.evt_btn2_eng').attr('data-flag', 'false');
            $('.evt_btn2').hide();
            $('.evt_btn2_eng').hide();
            $('.event_y').hide();//버튼명 hide
        }
    });

    $('#evtBtnAdd').click(function () {//국문 버튼영역
        $('.evt_btn2').attr('data-flag', 'true');
        $('.evt_btn2').show();
    });
    $('#evtBtnDel').click(function () {
        $('.evt_btn2').find('input').val('');
        $('.evt_btn2').attr('data-flag', 'false');
        $('.evt_btn2').hide();
    });

    $('#evtBtnAddEng').click(function () {//영문 버튼영역
        $('.evt_btn2_eng').attr('data-flag', 'true');
        $('.evt_btn2_eng').show();
    });
    $('#evtBtnDelEng').click(function () {
        $('.evt_btn2_eng').find('input').val('');
        $('.evt_btn2_eng').attr('data-flag', 'false');
        $('.evt_btn2_eng').hide();
    });

})(jQuery);
</script>
