@{
    ViewBag.Title = "월 납입금 리스트";
}

<div id="content" class="list">
    <form method="get">
        <div class="cont_top">
            <h3>월 납입금 관리</h3>
            <div class="search_box">
                <select name="brand" id="brand" class="search_select">
                    <option value="">구분</option>
                    <option value="BMW">BMW</option>
                    <option value="MINI">MINI</option>
                    <!--<option value="Motorrad">Motorrad</option> 적용 보류-->
                </select>
                <select name="series" id="series" class="search_select">
                    <option value="">구분</option>
                </select>
                <select name="model" id="model" class="search_select">
                    <option value="">구분</option>
                </select>
                <select name="item" id="item" class="search_select">
                    <option value="">구분</option>
                    <option value="잔가보장형 할부">잔가보자형 할부</option>
                    <option value="일반 할부">일반 할부</option>
                </select>
                <button type="button" class="submit_btn" onclick="searchList();"><img src="/resources/images/mgmt/btn_search.gif" alt="" /></button>
            </div>
        </div>
        <div class="cont_bottom">

            <table class="list_table">
                <colgroup>
                    <col width="50px" />
                    <col width="*" />
                    <col width="100px" />
                    <col width="50px" />
                    <col width="100px" />
                    <col width="50px" />
                    <col width="100px" />
                    <col width="50px" />
                    <col width="100px" />
                    <col width="50px" />
                    <col width="50px" />
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">상세모델</th>
                        <th scope="col">차량가격</th>
                        <th scope="col">잔가</th>
                        <th scope="col">선납 10%</th>
                        <th scope="col">월 납입금</th>
                        <th scope="col">선납 20%</th>
                        <th scope="col">월 납입금</th>
                        <th scope="col">선납 30%</th>
                        <th scope="col">월 납입금</th>
                        <th scope="col">배포</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < ViewBag.list.Count; i++)
                    {
                        <tr>
                            <td class="co1">@(ViewBag.pagination.totalItemCount - (ViewBag.pagination.currentPage - 1) * ViewBag.pagination.itemPerPage - i)</td>
                            <td class="co2 tit_area"><a href="view?idx=@ViewBag.list[i].idx">@ViewBag.list[i].modelName</a></td>
                            <td class="co3">@ViewBag.list[i].price</td>
                            <td class="co4">@ViewBag.list[i].zanga %</td>
                            <td class="co5">@ViewBag.list[i].payment1</td>
                            <td class="co6">@ViewBag.list[i].payment1</td>
                            <td class="co7">@ViewBag.list[i].payment2</td>
                            <td class="co8">@ViewBag.list[i].payment2</td>
                            <td class="co9">@ViewBag.list[i].payment3</td>
                            <td class="co10">@ViewBag.list[i].payment3</td>
                            <td class="co11">@ViewBag.list[i].deployYn</td>
                        </tr>
                    }
                    @if (ViewBag.list.Count == 0)
                    {
                        <tr>
                            <td colspan="11">게시글이 없습니다.</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- pagination -->
            @RenderPage("~/Views/Common/Pagination.cshtml")
            <a href="register" class="btn_defualt btn_reg">등록</a>
        </div>
    </form>
</div>
<script>
    (function () {
        $(".search_box").on("change", "#brand", function (e) {

            $seriesSelect = $(this).siblings('.search_select').eq(0);
            $modelSelect = $(this).siblings('.search_select').eq(1);
            var series = "";
            var model = "";
            //시리즈 초기화
            $seriesSelect.html(series);
            //모델 초기화
            $modelSelect.html(model);
            var val = $(this).val();
            console.log($seriesSelect);
            if (val == "BMW") {
                series += '<option value="">구분</option>'; 
                series += '<option value="1 Series">1 Series</option>'; 
                series += '<option value="Active Tourer">Active Tourer</option>';
                series += '<option value="3 Series">3 Series</option>';
                model += '<option value="">구분</option>';
            } else if (val == "MINI") {
                series += '<option value="">구분</option>';
                series += '<option value="MINI">MINI</option>'; 
                model += '<option value="">구분</option>';
            } else {
                series += '<option value="">구분</option>';
            }
            $('#series').append(series);
            $('#model').append(model);
        });
        $(".search_box").on("change", "#series", function (e) {
            
            $modelSelect = $(this).siblings('.search_select').eq(1);
            var model = "";
            //모델 초기화
            $modelSelect.html(model);
            var val = $(this).val();
            console.log(val);
            console.log($modelSelect);
            model = '<option value="">구분</option>';
            if (val == "1 Series") {
                model += '<option value="1 Series">118</option>';
            } else if (val == "Active Tourer") {
                model += '<option value="Active Tourer">Active Tourer</option>';
            } else if (val == "3 Series") {
                model += '<option value="320">320</option>';
                model += '<option value="328">328</option>';
            } else {
                model += '';
            }
            $('#model').append(model);
        });
    })();

    lnbSet(4, 1);
    if ('@ViewBag.pagination.brand' !== '') {
        $('#brand').val('@ViewBag.pagination.brand');
    }
</script>