
<style>
    .list .search_box select { width: 120px; }
    .list .cont_bottom .list_table tbody tr td.price { padding-right:10px; text-align: right; }
    .list .cont_bottom .list_table thead tr th.yellow { background-color: #ffe08c;}
    .list .cont_bottom .list_table thead tr th.blue {background-color: #b2ccff;}
    .list .cont_bottom .list_table thead tr th.green {background-color: #5ec75e;}
    .list .cont_bottom .excel_area{padding: 15px 0;width:900px;float:right;}
    .list .cont_bottom .excel_area>div{width:905px;}
    .list .cont_bottom .excel_area>div .txt{float:left;padding:7px 10px 0 0;font-weight:bold;}
    .list .cont_bottom .excel_text {display:inline-block;padding-top:5px 0; margin-left: 90px;margin-top: 5px;}
    #searchOption{width:180px;}
    
</style>
<div id="content" class="list">
    <form method="get">
        <div class="cont_top">
            <h3>월납입금 정보 관리</h3>
            <div class="search_box">
                <select name="brand" id="brand" class="search_select">
                    <option value="">브랜드</option>
                    <option value="BMW">BMW</option>
                    <option value="MINI">MINI</option>
                    <option value="Motorrad">Motorrad</option>
                </select>
                <select name="series" id="series" class="search_select">
                    <option value="">시리즈</option>
                </select>               
                <select name="searchOption" id="searchOption" class="search_select">
                    <option value="">구분</option>
                    <option value="zangaHalbu">SMART/SMILE 할부</option>
                    <option value="zangaLease">SMART/SMILE 운용리스</option>
                    <option value="generalHalbu">일반 할부</option>
                    <option value="smartRent">SMART 렌트</option>
                    <option value="postponeHalbu">유예 할부</option>
                </select>
                <button type="button" onclick="searchList();"></button>
            </div>
        </div>    
        <div class="cont_bottom">        
            <div class="file_area excel_area">
                <div>
                    <span class="txt">월납입금 파일</span>
                    <span class="file_src main_src"></span>
                    <input type="file" class="input_file" name="fileExcel" id="fileExcel">
                    <label for="fileExcel" class="btn_file">파일찾기</label>
                    <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="excelUpate();">등록</a>
                </div>
                <div class="excel_text">
                    @for (var i = 0; i < ViewBag.excelFile.Count; i++)
                    {
                        <span>* 최신파일명 :</span><a href="/files/fileDownloadByMIdx?masterIdx=900000"> @ViewBag.excelFile[0].originalFilename</a> @:(
                        <span>작성자 : </span>if (ViewBag.list.Count > 0) { @ViewBag.list[0].regId } @:/<span> 등록일 : </span> @ViewBag.excelFile[0].regDate 
                            @:)
                    }

                </div>
            </div>
        
            <table class="list_table">
                <colgroup>
                    <col width="50px" />
                    <col width="*" />
                    <col width="90px" />
                    <col width="50px" />
                    <col width="80px" />
                    <col width="80px" />
                    <col width="80px" />
                    <col width="80px" />
                    <col width="80px" />
                    <col width="80px" />
                    <col width="30px" />
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">상세모델</th>
                        <th scope="col">차량가격</th>
                        <th scope="col">
                            @if ("postponeHalbu".Equals(ViewBag.pagination.searchOption))
                            {
                                @:유예율
                            }
                            else{ 
                                @:잔가
                            }                            
                        </th>
                        <th scope="col" class="yellow">선납 10%</th>
                        <th scope="col" class="yellow">월 납입금</th>
                        <th scope="col" class="blue">선납 20%</th>
                        <th scope="col" class="blue">월 납입금</th>
                        <th scope="col" class="green">선납 30%</th>
                        <th scope="col" class="green">월 납입금</th>
                        <th scope="col">배포</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < ViewBag.list.Count; i++)
                    {
                        <tr>
                            <td class="co1">@(ViewBag.pagination.totalItemCount - (ViewBag.pagination.currentPage - 1) * ViewBag.pagination.itemPerPage - i)</td>
                            <td class="co2 tit_area">@ViewBag.list[i].modelName</td>
                            <td class="co3 price">@ViewBag.list[i].price
                                <input type="hidden" id="payNum_@i" value="@ViewBag.list[i].price" />
                            </td>
                            @if ("zangaHalbu".Equals(ViewBag.pagination.searchOption))
                            {
                                if (ViewBag.list[i].series != "i") //i시리즈 아닐때
                                {
                                <td class="co4">@ViewBag.list[i].zhZanga <span>%</span></td>
                                <td class="co5 price pay1_@i"></td>
                                <td class="co6 price">@ViewBag.list[i].zhPay1</td>
                                <td class="co7 price pay2_@i"></td>
                                <td class="co8 price">@ViewBag.list[i].zhPay2</td>
                                <td class="co9 price pay3_@i"></td>
                                <td class="co10 price">@ViewBag.list[i].zhPay3</td>
                                }
                                else //i시리즈 일때
                                {
                                    <td class="co4"></td>
                                    <td class="co5"></td>
                                    <td class="co6"></td>
                                    <td class="co7"></td>
                                    <td class="co8"></td>
                                    <td class="co9"></td>
                                    <td class="co10"></td>
                                }
                            }
                            else if ("zangaLease".Equals(ViewBag.pagination.searchOption))
                            {
                            <td class="co4">@ViewBag.list[i].zlZanga <span>%</span></td>
                            <td class="co5 price pay1_@i"></td>
                            <td class="co6 price">@ViewBag.list[i].zlPay1</td>
                            <td class="co7 price pay2_@i"></td>
                            <td class="co8 price">@ViewBag.list[i].zlPay2</td>
                            <td class="co9 price pay3_@i"></td>
                            <td class="co10 price">@ViewBag.list[i].zlPay3</td>
                            }
                            else if ("generalHalbu".Equals(ViewBag.pagination.searchOption))
                            {
                                <td class="co4"></td>
                                <td class="co5 price pay1_@i"></td>
                                <td class="co6 price">@ViewBag.list[i].ghPay1</td>
                                <td class="co7 price pay2_@i"></td>
                                <td class="co8 price">@ViewBag.list[i].ghPay2</td>
                                <td class="co9 price pay3_@i"></td>
                                <td class="co10 price">@ViewBag.list[i].ghPay3</td>
                            }
                            else if ("smartRent".Equals(ViewBag.pagination.searchOption))
                            {
                                <td class="co4"></td>
                                <td class="co5 price pay1_@i"></td>
                                <td class="co6 price">@ViewBag.list[i].rtPay1</td>
                                <td class="co7 price pay2_@i"></td>
                                <td class="co8 price">@ViewBag.list[i].rtPay2</td>
                                <td class="co9 price pay3_@i"></td>
                                <td class="co10 price">@ViewBag.list[i].rtPay3</td>
                            }
                            else if ("postponeHalbu".Equals(ViewBag.pagination.searchOption))
                            {
                                <td class="co4">@ViewBag.list[i].ppRate <span>%</span></td>
                                <td class="co5 price pay1_@i"></td>
                                <td class="co6 price">@ViewBag.list[i].ppPay1</td>
                                <td class="co7 price pay2_@i"></td>
                                <td class="co8 price">@ViewBag.list[i].ppPay2</td>
                                <td class="co9 price pay3_@i"></td>
                                <td class="co10 price">@ViewBag.list[i].ppPay3</td>
                            }
                            <td class="co11">@ViewBag.list[i].deployYn</td>
                        </tr>
                    }
                    @if (ViewBag.list.Count == 0)
                    {
                        <tr>
                            <td colspan="11">게시글이 없습니다.</td>
                        </tr>
                    }
                </tbody>
            </table>           
            
        </div>
    </form>
</div>
<script>
    lnbSet(".payment_mgmt");
    //검색값 유지
    $('#searchOption').val('@ViewBag.pagination.searchOption');
    //선납금 계산
    for (var i = 0; i < @ViewBag.list.Count; i++)
    {
        var pay = $('#payNum_' + i).val();        
        var num = unComma(pay);
        var result1 = num * 0.1;
        var result2 = num * 0.2;
        var result3 = num * 0.3;
        //선납금 표시할때 콤마 추가
        $('.pay1_'+i).text(addComma(parseInt(result1)));
        $('.pay2_'+i).text(addComma(parseInt(result2)));
        $('.pay3_'+i).text(addComma(parseInt(result3)));
    };    

    //브랜드,모델,시리즈 값
    $('select[name="brand"]').val('@ViewBag.pagination.brand');
    $('#brand').trigger('change');

    $("#brand").change(function (e) {                
        var series = '';
        $('#series').html(series);
        //모델 초기화        
        var val = $(this).val();
        if (val == "BMW") {
            series += '<option value="">시리즈</option>';
            series += '<option value="1 Series">1 Series</option>';
            series += '<option value="Active Tourer">Active Tourer</option>';
            series += '<option value="3 Series">3 Series</option>';
            series += '<option value="4 Series">4 Series</option>';
            series += '<option value="5 Series">5 Series</option>';
            series += '<option value="6 Series">6 Series</option>';
            series += '<option value="7 Series">7 Series</option>';
            series += '<option value="X">X</option>';
            series += '<option value="GT">GT</option>';
            series += '<option value="M">M</option>';
            series += '<option value="Z">Z</option>';
            series += '<option value="i">i</option>';            
        } else if (val == "MINI") {
            series += '<option value="">시리즈</option>';
            series += '<option value="3 Door">3 Door</option>';
            series += '<option value="5 Door">5 Door</option>';
            series += '<option value="CLUBMAN">CLUBMAN</option>';
            series += '<option value="CONVERTIBLE">CONVERTIBLE</option>';
            series += '<option value="THE NEW MINI COUNTRYMAN">THE NEW MINI COUNTRYMAN</option>';            
        } else if (val == "Motorrad") {
            series += '<option value="">시리즈</option>';
            series += '<option value="R">R</option>';
            series += '<option value="S">S</option>';
            series += '<option value="C">C</option>';
            series += '<option value="F">F</option>';
            series += '<option value="G">G</option>';
            series += '<option value="K">K</option>';
        } else {
            series += '<option value="">시리즈</option>';            
        }
        $('#series').append(series);        
    });

    $("#brand").trigger('change');
    if ('@ViewBag.pagination.series' != '') {
        $('#series').val('@ViewBag.pagination.series');
    }    
    

    $(".file_area").on("change", ".input_file", function (e) {
        var $parent = $(this).closest("div");
        var val = $(this).val();
        var valTit = val.split("\\");
        var valTittext = valTit[valTit.length - 1]
        if (val != "") {
            $parent.find(".file_src").text(valTittext).addClass("on");
        };
    });
    function excelUpate() {
        if ($('#fileExcel').val() == '') {
            alert('파일을 등록해주세요.');
            return;
        }
        if ($('#fileExcel').val().indexOf('.xlsx') < 0) {
            alert('.xlsx 파일만 가능합니다.');
            return;
        }
        if (!confirm('등록하시겠습니까?')) return; 
        $('#content form').attr('method', 'post').attr('enctype', 'multipart/form-data').attr('action', 'loadExcel').submit();        
    }
</script>