
<style>
    .list .search_box select { width: 120px; }
    .list .cont_bottom .list_table tbody tr td.price { padding-right:10px; text-align: right; }
    .list .cont_bottom .list_table thead tr th.yellow { background-color: #ffe08c;}
    .list .cont_bottom .list_table thead tr th.blue {background-color: #b2ccff;}
    .list .cont_bottom .list_table thead tr th.green {background-color: #5ec75e;}

</style>
<div id="content" class="list">
    <form method="get">
        <div class="cont_top">
            <h3>월 납입금 관리</h3>
            <div class="search_box">
                <select name="brand" id="brand" class="search_select">
                    <option value="">구분</option>
                    <option value="BMW">BMW</option>
                    <option value="MINI">MINI</option>
                    <!--<option value="Motorrad">Motorrad</option> 적용 보류-->
                </select>
                <select name="series" id="series" class="search_select">
                    <option value="">구분</option>
                </select>
                <select name="model" id="model" class="search_select">
                    <option value="">구분</option>
                </select>
                <select name="searchOption" id="searchOption" class="search_select">
                    <option value="">구분</option>
                    <option value="zangaHalbu">SMART 할부</option>
                    <option value="zangaLease">SAMRT 운용리스</option>
                    <option value="generalHalbu">일반 할부</option>
                </select>
                <button type="button" onclick="searchList();"></button>
            </div>
        </div>
        <div class="cont_bottom">

            <table class="list_table">
                <colgroup>
                    <col width="50px" />
                    <col width="*" />
                    <col width="90px" />
                    <col width="50px" />
                    <col width="80px" />
                    <col width="80px" />
                    <col width="80px" />
                    <col width="80px" />
                    <col width="80px" />
                    <col width="80px" />
                    <col width="30px" />
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">상세모델</th>
                        <th scope="col">차량가격</th>
                        <th scope="col">잔가</th>
                        <th scope="col" class="yellow">선납 10%</th>
                        <th scope="col" class="yellow">월 납입금</th>
                        <th scope="col" class="blue">선납 20%</th>
                        <th scope="col" class="blue">월 납입금</th>
                        <th scope="col" class="green">선납 30%</th>
                        <th scope="col" class="green">월 납입금</th>
                        <th scope="col">배포</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < ViewBag.list.Count; i++)
                    {
                        <tr>
                            <td class="co1">@(ViewBag.pagination.totalItemCount - (ViewBag.pagination.currentPage - 1) * ViewBag.pagination.itemPerPage - i)</td>
                            <td class="co2 tit_area"><a href="view?idx=@ViewBag.list[i].idx">@ViewBag.list[i].modelName</a></td>
                            <td class="co3 price">@ViewBag.list[i].price
                                <input type="hidden" id="payNum_@i" value="@ViewBag.list[i].price" />
                            </td>
                            @if ("zangaHalbu".Equals(ViewBag.pagination.searchOption))
                            {
                                if (ViewBag.list[i].series != "i") //i시리즈 아닐때
                                {
                                <td class="co4">@ViewBag.list[i].zhZanga <span>%</span></td>
                                <td class="co5 price pay1_@i"></td>
                                <td class="co6 price">@ViewBag.list[i].zhPay1</td>
                                <td class="co7 price pay2_@i"></td>
                                <td class="co8 price">@ViewBag.list[i].zhPay2</td>
                                <td class="co9 price pay3_@i"></td>
                                <td class="co10 price">@ViewBag.list[i].zhPay3</td>
                                }
                                else //i시리즈 일때
                                {
                                    <td class="co4"></td>
                                    <td class="co5"></td>
                                    <td class="co6"></td>
                                    <td class="co7"></td>
                                    <td class="co8"></td>
                                    <td class="co9"></td>
                                    <td class="co10"></td>
                                }
                            }
                            else if ("zangaLease".Equals(ViewBag.pagination.searchOption))
                            {
                            <td class="co4">@ViewBag.list[i].zlZanga <span>%</span></td>
                            <td class="co5 price pay1_@i"></td>
                            <td class="co6 price">@ViewBag.list[i].zlPay1</td>
                            <td class="co7 price pay2_@i"></td>
                            <td class="co8 price">@ViewBag.list[i].zlPay2</td>
                            <td class="co9 price pay3_@i"></td>
                            <td class="co10 price">@ViewBag.list[i].zlPay3</td>
                            }
                            else if ("generalHalbu".Equals(ViewBag.pagination.searchOption))
                            {
                                <td class="co4"></td>
                                <td class="co5 price pay1_@i"></td>
                                <td class="co6 price">@ViewBag.list[i].ghPay1</td>
                                <td class="co7 price pay2_@i"></td>
                                <td class="co8 price">@ViewBag.list[i].ghPay2</td>
                                <td class="co9 price pay3_@i"></td>
                                <td class="co10 price">@ViewBag.list[i].ghPay3</td>
                            }
                            <td class="co11">@ViewBag.list[i].deployYn</td>
                        </tr>
                    }
                    @if (ViewBag.list.Count == 0)
                    {
                        <tr>
                            <td colspan="11">게시글이 없습니다.</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- pagination -->
            @*@RenderPage("~/Views/Common/Pagination.cshtml")*@
            <a href="register" class="btn_defualt btn_reg">등록</a>
        </div>
    </form>
</div>
<script>
    lnbSet(".payment_mgmt");
    //검색값 유지
    $('#searchOption').val('@ViewBag.pagination.searchOption');
    //선납금 계산
    for (var i = 0; i < @ViewBag.list.Count; i++)
    {
        var pay = $('#payNum_' + i).val();        
        var num = unComma(pay);
        var result1 = num * 0.1;
        var result2 = num * 0.2;
        var result3 = num * 0.3;
        //선납금 표시할때 콤마 추가
        $('.pay1_'+i).text(addComma(parseInt(result1)));
        $('.pay2_'+i).text(addComma(parseInt(result2)));
        $('.pay3_'+i).text(addComma(parseInt(result3)));
    };
        (function () {
        //검색 브랜드 셀렉트값 변경시
        $(".search_box").on("change", "#brand", function (e) {

            $seriesSelect = $(this).siblings('.search_select').eq(0);
            $modelSelect = $(this).siblings('.search_select').eq(1);
            var series = "";
            var model = "";
            //시리즈 초기화
            $seriesSelect.html(series);
            //모델 초기화
            $modelSelect.html(model);
            var val = $(this).val();            
            if (val == "BMW") {

                series += '<option value="">구분</option>';
                series += '<option value="1 Series">1 Series</option>';
                series += '<option value="Active Tourer">Active Tourer</option>';
                series += '<option value="3 Series">3 Series</option>';
                series += '<option value="4 Series">4 Series</option>';
                series += '<option value="5 Series">5 Series</option>';
                series += '<option value="6 Series">6 Series</option>';
                series += '<option value="7 Series">7 Series</option>';
                series += '<option value="X">X</option>';
                series += '<option value="GT">GT</option>';
                series += '<option value="M">M</option>';
                series += '<option value="Z">Z</option>';
                series += '<option value="i">i</option>';

                model += '<option value="">구분</option>';
            } else if (val == "MINI") {
                series += '<option value="">구분</option>';
                series += '<option value="3 Door">3 Door</option>';
                series += '<option value="5 Door">5 Door</option>';
                series += '<option value="CLUBMAN">CLUBMAN</option>';
                series += '<option value="CONVERTIBLE">CONVERTIBLE</option>';
                series += '<option value="THE NEW MINI COUNTRYMAN">THE NEW MINI COUNTRYMAN</option>';

                model += '<option value="">구분</option>';
            } else {
                series += '<option value="">구분</option>';
                model += '<option value="">구분</option>';
            }
            $('#series').append(series);
            $('#model').append(model);                      
        });
        //검색 시리즈 셀렉트값 변경시
        $(".search_box").on("change", "#series", function (e) {

            $modelSelect = $(this).siblings('.search_select').eq(1);
            var model = "";
            //모델 초기화
            $modelSelect.html(model);
            var val = $(this).val();                        
            model = '<option value="">구분</option>';
            if (val == "1 Series") {
                model += '<option value="118">118</option>';
            } else if (val == "Active Tourer") {
                model += '<option value="Active Tourer">Active Tourer</option>';
            } else if (val == "3 Series") {
                model += '<option value="320">320</option>';
                model += '<option value="328">328</option>';
                model += '<option value="330">330</option>';
            } else if (val == "4 Series") {
                model += '<option value="420">420</option>';
                model += '<option value="428">428</option>';
                model += '<option value="435">435</option>';
            } else if (val == "5 Series") {
                model += '<option value="520">520</option>';
                model += '<option value="528">528</option>';
                model += '<option value="530">530</option>';
            } else if (val == "6 Series") {
                model += '<option value="640">640</option>';
            } else if (val == "7 Series") {
                model += '<option value="730">730</option>';
                model += '<option value="740">740</option>';
                model += '<option value="750">750</option>';
                model += '<option value="760">760</option>';
            } else if (val == "X") {
                model += '<option value="X1">X1</option>';
                model += '<option value="X2">X2</option>';
                model += '<option value="X3">X3</option>';
                model += '<option value="X4">X4</option>';
                model += '<option value="X5">X5</option>';
                model += '<option value="X6">X6</option>';
            } else if (val == "GT") {
                model += '<option value="GT">GT</option>';
            } else if (val == "M") {
                model += '<option value="M2">M2</option>';
                model += '<option value="M3">M3</option>';
                model += '<option value="M4">M4</option>';
                model += '<option value="M5">M5</option>';
                model += '<option value="M6">M6</option>';
            } else if (val == "Z") {
                model += '<option value="Z4">Z4</option>';
            } else if (val == "i") {
                model += '<option value="i3">i3</option>';
                model += '<option value="i8">i8</option>';
            } else if (val == "3 Door") {
                model += '<option value="3 Door">3 Door</option>';
            } else if (val == "5 Door") {
                model += '<option value="5 Door">5 Door</option>';
            } else if (val == "CLUBMAN") {
                model += '<option value="CLUBMAN">CLUBMAN</option>';
            } else if (val == "CONVERTIBLE") {
                model += '<option value="CONVERTIBLE">CONVERTIBLE</option>';
            } else if (val == "THE NEW MINI COUNTRYMAN") {
                model += '<option value="THE NEW MINI COUNTRYMAN">THE NEW MINI COUNTRYMAN</option>';
            } else {
                model += '';
            }
            $('#model').append(model);
        });
    })();
    //브랜드,모델,시리즈 값
    $('select[name="brand"]').val('@ViewBag.pagination.brand');
    $('#brand').trigger('change');
    $('select[name="series"]').val('@ViewBag.pagination.series');
    $('#series').trigger('change');
    $('select[name="model"]').val('@ViewBag.pagination.model');
    $('select[name="item"]').val('@ViewBag.pagination.item');
</script>