@{
    ViewBag.Title = "월 납입금 상세보기";
}

<div id="content" class="reg">
    <div class="cont_top">
        <h3>월 납입금 관리</h3>
    </div>
    <div class="cont_bottom">
        <form method="post">
            <table class="reg_table">
                <caption>월 납입금 뷰 테이블</caption>
                <colgroup>
                    <col width="150px">
                    <col width="870px">
                </colgroup>
                <tr>
                    <th>작성자 </th>
                    <td>@ViewBag.item.regId</td>
                </tr>
                <tr>
                    <th scope="row"><label for="category">분류</label></th>
                    <td>@ViewBag.item.brand @ViewBag.item.series @ViewBag.item.model</td>
                </tr>
                <tr>
                    <th scope="row"><label for="modelName">* 상세 모델</label></th>
                    <td>@ViewBag.item.modelName </td>
                </tr>
                <tr class="add_img_area">
                    <th>* 차량 이미지</th>
                    <td class="file_area">
                        @foreach (var file in ViewBag.carList)
                        {
                            <div><a href="/Files/fileDownload?fileIdx=@file.fileIdx">@file.originalFilename</a></div>
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="price">* 차량가격</label></th>
                    <td>@ViewBag.item.price  원</td>
                </tr>
                <tr>
                    <th scope="row"><label for="item">* 상품 선택</label></th>
                    <td>@ViewBag.item.item </td>
                </tr>
                <tr>
                    <th scope="row"><label for="zanga">잔가</label></th>
                    <td>
                        @if (ViewBag.item.zanga != 0){
                         @ViewBag.item.zanga <span>%</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="payment1">월 납입금 (선납 10%)</label></th>
                    <td>@ViewBag.item.payment1 원</td>
                </tr>
                <tr>
                    <th scope="row"><label for="payment2">월 납입금 (선납 20%)</label></th>
                    <td>@ViewBag.item.payment2 원</td>
                </tr>
                <tr>
                    <th scope="row"><label for="payment3">월 납입금 (선납 30%)</label></th>
                    <td>@ViewBag.item.payment3 원</td>
                </tr>
                <tr>
                    <th><label for="">배포 *</label></th>
                    <td class="radio_area">@ViewBag.item.deployYn</td>
                </tr>
            </table>
            <input type="hidden" name="idx" value="@ViewBag.item.idx" />
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="modForm();">수정</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="delForm();">삭제</a>
        </div>
        <div class="btn_area right">

        </div>
    </div>
</div>
<script>
    lnbSet(3, 0);
    function modForm() {
        $('form').attr('action', 'modify').submit();
    }

    function delForm() {
        if (!confirm('삭제하시겠습니까?')) return;
        $('form').attr('action', 'delete').submit();
    }
</script>