
<style>
table.reg_table tr td.td_tit {font-weight: bold;}
.reg .cont_bottom .reg_table td.smart{padding-left:0px;}
table.reg_table tr td span.square{font-size:16px;}
table.reg_table tr td label {margin-right: 15px}
table.reg_table tr.item_area {display: none;}
table.reg_table tr td span.result1, table.reg_table tr td span.result2, table.reg_table tr td span.result3 {display: none;}
table.reg_table tr td span.on, table.reg_table tr td span.on, table.reg_table tr td span.on {display: inline-block;}
table.reg_table tr.off {display: none;}
</style>
<div id="content" class="reg">
    <div class="cont_top">
        <h3>월 납입금 관리</h3>
    </div>
    <div class="cont_bottom">
        <form method="post">
            <table class="reg_table">
                <caption>월 납입금 뷰 테이블</caption>
                <colgroup>
                    <col width="150px">
                    <col width="870px">
                </colgroup>
                <tr>
                    <th>작성자 </th>
                    <td>@ViewBag.item.regId</td>
                </tr>
                <tr>
                    <th scope="row"><label for="category">분류</label></th>
                    <td>@ViewBag.item.brand @ViewBag.item.series @ViewBag.item.model</td>
                </tr>
                <tr>
                    <th scope="row"><label for="modelName">* 상세 모델</label></th>
                    <td>@ViewBag.item.modelName </td>
                </tr>
                <tr class="add_img_area">
                    <th>* 차량 이미지</th>
                    <td class="file_area">
                        @foreach (var file in ViewBag.carList)
                        {
                            <div><a href="/Files/fileDownload?fileIdx=@file.fileIdx">@file.originalFilename</a></div>
                        }
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="price">* 차량가격</label></th>
                    <td>@ViewBag.item.price  원</td>
                </tr>
                <tr>
                    <th><label for="">배포 *</label></th>
                    <td class="radio_area">@ViewBag.item.deployYn</td>
                </tr>
            </table>
            <table class="reg_table">
                <colgroup>
                    <col width="150px">
                    <col width="870px">
                </colgroup>
                @*<tr>
                    <th scope="row"><label for="item">* 상품 선택</label></th>
                    <td>@ViewBag.item.itemName </td>
                </tr>*@
                <tr class="tr_zh">
                    <td colspan="2" class="td_tit smart"><span class="square">■</span> &nbsp;SMART 할부</td>
                </tr>
                <tr class="tr_zh">
                    <th scope="row"><label for="zanga">잔가</label></th>
                    <td>@ViewBag.item.zhZanga <span>%</span></td>
                </tr>
                <tr class="tr_zh">
                    <th scope="row"><label for="payment1">월 납입금 (선납 10%)</label></th>
                    <td>@ViewBag.item.zhPay1 원 <span class="zh result1"></span></td>
                </tr>
                <tr class="tr_zh">
                    <th scope="row"><label for="payment2">월 납입금 (선납 20%)</label></th>
                    <td>@ViewBag.item.zhPay2 원 <span class="zh result2"></span></td>
                </tr>
                <tr class="tr_zh">
                    <th scope="row"><label for="payment3">월 납입금 (선납 30%)</label></th>
                    <td>@ViewBag.item.zhPay3 원 <span class="zh result3"></span></td>
                </tr>
                <tr>
                    <td colspan="2" class="td_tit smart"><span class="square">■</span> &nbsp;SMART 운용리스</td>
                </tr>
                <tr>
                    <th scope="row"><label for="zanga">잔가</label></th>
                    <td>@ViewBag.item.zlZanga <span>%</span></td>
                </tr>
                <tr>
                    <th scope="row"><label for="payment1">월 납입금 (선납 10%)</label></th>
                    <td>@ViewBag.item.zlPay1 원 <span class="zl result1"></span></td>
                </tr>
                <tr>
                    <th scope="row"><label for="payment2">월 납입금 (선납 20%)</label></th>
                    <td>@ViewBag.item.zlPay2 원 <span class="zl result2"></span></td>
                </tr>
                <tr>
                    <th scope="row"><label for="payment3">월 납입금 (선납 30%)</label></th>
                    <td>@ViewBag.item.zlPay3 원 <span class="zl result3"></span></td>
                </tr>
                <tr class="tr_g">
                    <td colspan="2" class="td_tit smart"><span class="square">■</span> &nbsp;일반 할부</td>
                </tr>
                <tr class="tr_g">
                    <th scope="row"><label for="payment1">월 납입금 (선납 10%)</label></th>
                    <td>@ViewBag.item.ghPay1 원 <span class="general result1"></span></td>
                </tr>
                <tr class="tr_g">
                    <th scope="row"><label for="payment2">월 납입금 (선납 20%)</label></th>
                    <td>@ViewBag.item.ghPay2 원 <span class="general result2"></span></td>
                </tr>
                <tr class="tr_g">
                    <th scope="row"><label for="payment3">월 납입금 (선납 30%)</label></th>
                    <td>@ViewBag.item.ghPay3 원 <span class="general result3"></span></td>
                </tr>
            </table>
            <input type="hidden" name="idx" value="@ViewBag.item.idx" />
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">목록</a>
            <div class="view_btn_area">
                <a href="javascript:void(0);" class="btn_defualt btn_delete" onclick="delForm();">삭제</a>
                <a href="javascript:void(0);" class="btn_defualt btn_modify" onclick="modForm();">수정</a>                
            </div>
        </div>
        
    </div>
</div>
<script>
    lnbSet(".payment_mgmt");
    /*조건추가하기
        i시리즈가 아닐때 선납 모두표시
        시리즈 일때 잔가보장형 할부-리스에만 선납금표시 하기*/
    // 선납 표시
    if ('@ViewBag.item.series' != 'i') { //i시리즈가 아닐때        
        $('.tr_zh').removeClass('off');
        $('.zh').addClass('on');
        $('.zl').addClass('on');
        $('.general').addClass('on');
    } else { //i시리즈 일때        
        $('.general').addClass('on');
        $('.zl').addClass('on');
        $('.tr_zh').addClass('off');
    }
    var num = unComma('@ViewBag.item.price');
    //var num = unComma(price);
    var result1 = num * 0.1;
    var result2 = num * 0.2;
    var result3 = num * 0.3;
    //선납금 표시할때 콤마 추가
    $('.result1').text("(" + addComma(parseInt(result1)) + "원)");
    $('.result2').text("(" + addComma(parseInt(result2)) + "원)");
    $('.result3').text("(" + addComma(parseInt(result3)) + "원)");
    function modForm() {
        $('form').attr('action', 'modify').submit();
    }

    function delForm() {
        if (!confirm('삭제하시겠습니까?')) return;
        $('form').attr('action', 'delete').submit();
    }
</script>