<div id="content" class="list">
    <form method="get">
        <div class="cont_top">
            <h3>관리자 관리</h3>
            <div class="search_box">
                <select name="searchOption" id="searchOption">
                    <option value="">구분</option>
                    <option value="id">ID</option>
                    <option value="role">권한</option>
                    <option value="status">상태</option>
                </select>
                <input type="text" class="search_text" name="searchInput" value="@ViewBag.pagination.searchInput"><input type="text" style="display:none;" />
                <button type="button" onclick="searchList();"></button>
            </div>
        </div>
        <div class="cont_bottom">
            <table class="list_table">
                <colgroup>
                    <col width="60px" />
                    <col width="*" />
                    <col width="100px" />
                    <col width="200px" />
                    <col width="100px" />
                </colgroup>
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>ID</th>
                        <th>권한</th>
                        <th>등록일</th>
                        <th>상태</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < ViewBag.list.Count; i++)
                    {
                        <tr>
                            <td>@(ViewBag.pagination.totalItemCount - (ViewBag.pagination.currentPage - 1) * ViewBag.pagination.itemPerPage - i)</td>
                            <td class="tit_area"><a href="view?idx=@ViewBag.list[i].idx">@ViewBag.list[i].userId</a></td>
                            <td>@ViewBag.list[i].role</td>
                            <td>@ViewBag.list[i].regDate</td>
                            <td>@ViewBag.list[i].activeYn</td>
                        </tr>
                    }
                    @if (ViewBag.list.Count == 0)
                    {
                        <tr>
                            <td colspan="5">게시글이 없습니다.</td>
                        </tr>
                    }
                </tbody>
            </table>
            @RenderPage("~/Views/Common/Pagination.cshtml")
            <a href="register" class="btn_defualt btn_reg">등록</a>
        </div>
    </form>
</div>
<script>
    lnbSet(".admin_mgmt");
    $('#searchOption').val('@ViewBag.pagination.searchOption');
</script>