@{
    ViewBag.Title = "상품약관 수정";
}

<head>
    <script src="/resources/js/jquery-1.12.4.min.js"></script>
    <script src="/resources/js/jquery-ui.min.js"></script>
    <script src="/resources/js/jquery.cust.js"></script>
    <script src="/resources/js/common.js"></script>
</head>
<div id="content" class="reg">
    <div class="cont_top">
        <h3>상품약관 수정</h3>
    </div>
    <div class="cont_bottom">
        <form method="post" enctype="multipart/form-data">
            <table class="reg_table">
                <caption>상품약관 수정 테이블</caption>
                <colgroup>
                    <col width="130px">
                    <col width="870px">
                </colgroup>
                <tr>
                    <th scope="row"><label for="category">구분</label></th>
                    <td>
                        <select name="category" id="category">
                            <option value="여신거래">여신거래</option>
                            <option value="할부거래">할부거래</option>
                            <option value="리스">리스</option>
                            <option value="오토론">오토론</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="title">* 제목</label></th>
                    <td><input type="text" name="title" id="title" value="@ViewBag.item.title" /></td>
                </tr>
                <tr>
                    <th scope="row"><label for="contents">* 내용</label></th>
                    <td><textarea rows="20" cols="30" id="contents" name="contents">@Html.Raw(@ViewBag.item.contents)</textarea></td>
                </tr>
            </table>            
            <input type="hidden" name="idx" value="@ViewBag.item.idx" />
        </form>
        <div class="btn_area">
            <a href="list?@Session["searchString"]" class="btn_defualt btn_list">취소</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="modForm();">수정</a>
            <a href="javascript:void(0);" class="btn_defualt btn_reg" onclick="delForm();">삭제</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/resources/se/js/HuskyEZCreator.js"></script>
<script type="text/javascript" src="/resources/js/smarteditor.js"></script>
<script>
    $('select[name="category"]').val('@ViewBag.item.category');
    lnbSet(7, 3);
        function modForm() {
        if (!confirm('수정하시겠습니까?')) return;
        if (!$('#title').required()) return;
        editor_object.getById["contents"].exec("UPDATE_CONTENTS_FIELD", []);
        if (!$('#contents').required()) return;
        $('#content form').attr('action', 'modifyProc').submit();
        }

        function delForm() {
        if (!confirm('삭제하시겠습니까?')) return;
        $('#content form').attr('action', 'delete').submit();
        }
</script>