@{
    ViewBag.Title = "view";
}
<div class="sub_content">
    <h2>상세보기</h2>
    <div class="manager_detail">
        <form method="post">
            <table>
                <caption>테이블</caption>
                <colgroup>
                    <col width="20%">
                    <col width="80%">
                </colgroup>
                <tr>
                    <th scope="row"><label for="">제목</label></th>
                    <td>@ViewBag.item.title</td>
                </tr>
                <tr>
                    <th scope="row"><label for="">내용</label></th>
                    <td style="white-space: pre-line">@Html.Raw(@ViewBag.item.contents)</td>
                </tr>
                <tr>
                    <th scope="row"><label for="">파일</label></th>
                    <td>
                        @foreach (var file in ViewBag.filesList1)
                        {
                            <div><a href="/Files/fileDownload?fileIdx=@file.fileIdx">@file.originalFilename</a></div>
                        }
                    </td>

                </tr>
                <tr>
                    <th scope="row"><label for="">파일 여러개</label></th>
                    <td>
                        @foreach (var file in ViewBag.filesList2)
                        {
                            <div><a href="/Files/fileDownload?fileIdx=@file.fileIdx">@file.originalFilename</a></div>
                        }
                    </td>

                </tr>
            </table>
            <input type="hidden" name="idx" value="@ViewBag.item.idx" />
        </form>
    </div>
    <div class="btn_area right">
        <a href="javascript:void(0);" class="btn" onclick="deleteItem();">삭제</a>
        <a href="javascript:void(0);" class="btn" onclick="modify();">수정</a>
        <a href="list?@Session["searchString"]" class="btn">목록</a>
        
    </div>
</div>
<script>
    function modify() {
        $('form').attr('action', 'modify').submit();
    }

    function deleteItem() {
        if (!confirm('삭제하시겠습니까?')) return;
        $('form').attr('action', 'delete').submit();
    }
</script>